@import './variables.scss';

.customers{
   background-color:$primaryColor;
   border-radius: 10px;
   box-shadow: $boxShadow;
   width: 100%;
   color: $fontColor;
   padding: .7rem;

   h1{
      text-align: center;
      font-size: 1.2rem;
      font-family: $primaryFontFamily;
      color: $seconaryColor;
      
   }

   &_icon{
      display: flex;
      justify-content: flex-end;
      font-size: .7rem;
      color: $seconaryColor;
      cursor: pointer;
      
      i{
         margin-left: 1%;
      }
   }

   &_icon:hover{
      color: $fontColor;
      

   }

   &_list{
      list-style: none;
      margin-top: 1rem;
      

      li{
         margin-top: .5rem;
        
      }
   }

   &_extralist{
      overflow: hidden;
   }

   &_img{
      img{
         width: 1.8rem;
         height: 1.8rem;
         border-radius: 50%;
         object-fit: cover;
      }
   }

  &_items{
   display: flex;
   align-items:baseline;
   justify-content: space-around;
   
   h5{
      font-size: .9rem;
      font-weight: 400;
      font-style: italic;
   }
  }
  
}