$primaryColor:rgb(46, 45, 45);
$seconaryColor:#fe8e05;
$fontColor: #fff;
$primaryBackgroundColor:rgb(1, 1, 1);
$boxShadow:2px 2px 3px rgba(0, 0, 0, 0.3);;
$primaryFontFamily:  "Permanent Marker", cursive;